<div class="author-view">

  <div class="bg-color-white-darken-16 margin-bottom-full">

    <div class="container">
      <!-- Author Header Profile -->
      <app-author-header [isFull]="true"></app-author-header>

    </div>

  </div>

  <!-- Title -->
  <div class="container">
    <!-- Title wrapper -->
    <div class="fw fw--a-center fw--j-space-between width-full">
      <!--Title-->
      <h2 class="main-title main-title--gray width-half">
        ULTIMAS NOTAS
      </h2>

      <!--Filters-->
      <div class="articles__filters">
        <!-- Most Read -->
        <div class="padding-horizontal-quarter">
          <span>Mas Leidas</span>
          <i class="icon ion-md-copy"></i>
        </div>
        <!-- Most Read -->

        <!-- Date -->
        <div class="padding-horizontal-quarter">
          <span>Filtro por fecha</span>
          <i class="icon ion-md-calendar"></i>
        </div>
        <!-- end Date -->

        <!-- Search -->
        <div class="articles__search padding-left-full">
          <input class="rf-input rf-input--white">
          <i class="icon ion-ios-search search-icon"></i>
        </div>
        <!-- end Search -->

      </div>
      <!-- end Filters -->

    </div>
    <!-- end Title wrapper -->

    <!-- Articles -->
    <div class="margin-top-full">
      <app-article-card-horizontal [isGiant]="true"></app-article-card-horizontal>
    </div>

    <app-article-slider [lazyLoad]="true"
                        [loadFlag]="selectedCategory._id === category._id">

    </app-article-slider>
    <!-- end Articles -->

  </div>

  <!-- Author slider -->
  <div class="bg-color-white-darken-1">
    <div class="container">
      <app-author-slider [authors]="authors"></app-author-slider>
    </div>
  </div>
  <!-- end Author slider -->

  <div class="container">
    <app-article-slider [lazyLoad]="true"
                        [loadFlag]="selectedCategory._id === category._id">

    </app-article-slider>
  </div>

</div>



