@import "base/helpers";
@import "base/backgrounds";
@import "base/flex";
@import "variables";
@import "base/fonts";

.author-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: @breakpoint-l) {
    display: block;
  }
}

.articles__filters {
  display: flex;
  align-items: center;
  width: 50%;

  @media (max-width: @breakpoint-l) {
    .padding-top-half;
    width: 100%;
  }

  @media (max-width: @breakpoint-s) {
    display: block;
  }

  .articles__filter {
    .margin-right-half;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: nowrap;

    i {
      .font-size-xl;
      .padding-left-quarter;
    }
  }

  .articles__search {
    position: relative;
    flex-grow: 1;

    i {
      position: absolute;
      right: 0;
      top: 0;
      .font-size-xl;
    }

  }

}
