<div class="author-view">

  <div class="bg-color-white-darken-16 margin-bottom-full">

    <div class="container">

      <!-- Author Header Profile -->
      <app-author-header [isFull]="true" [author]="author"></app-author-header>
      <!-- end Author Header Profile -->

    </div>

  </div>

  <!-- Articles -->
  <div class="container" *ngIf="hasArticles">

    <!-- Title wrapper -->
    <div class="author-title-wrapper">

      <!--Title-->
      <h2 class="main-title main-title--gray">
        Ultimos Articulos
      </h2>

      <!--Filters-->
      <div class="articles__filters">

        <div class="fw fw--wrap-none">

          <!-- Most Read -->
          <div class="articles__filter">
            <span>Mas Leidas</span>
            <i class="icon ion-md-copy"></i>
          </div>
          <!-- Most Read -->

          <!-- Date -->
          <div class="articles__filter">
            <span>Filtro por fecha</span>
            <i class="icon ion-md-calendar"></i>
          </div>
          <!-- end Date -->

        </div>

        <!-- Search -->
        <div class="articles__search">
          <input class="rf-input rf-input--white">
          <i class="icon ion-ios-search search-icon"></i>
        </div>
        <!-- end Search -->

      </div>
      <!-- end Filters -->

    </div>
    <!-- end Title wrapper -->

    <!-- Articles -->
    <div class="margin-top-full">
      <app-article-card-horizontal [isGiant]="true" [article]="mainArticle"></app-article-card-horizontal>
    </div>

    <app-article-vertical-card-list [articles]="articles"></app-article-vertical-card-list>

  </div>
  <!-- Articles -->

  <!-- No articles -->
  <div *ngIf="!hasArticles"
       class="container">

    {{author.name}} no tiene ningun articulo.

    <div class="margin-top-half">
      <a href="/" class="button button--red">
        <i class="icon ion-md-arrow-back"></i>
        Volver a Home
      </a>
    </div>

  </div>
  <!-- end No articles -->

  <!-- Author slider -->
  <div class="bg-color-white-darken-1">
    <div class="container">
      <!--<app-author-slider [authors]="authors"></app-author-slider>-->
    </div>
  </div>
  <!-- end Author slider -->

  <div class="container">
    <!--<app-article-slider [lazyLoad]="true"-->
    <!--[loadFlag]="selectedCategory._id === category._id">-->
    <!--</app-article-slider>-->
  </div>

</div>



