@import "variables";
@import "base/helpers";
@import "base/backgrounds";
@import "base/fonts";

.article-card {
  transition: all 200ms ease;
  opacity: 1;
  cursor: pointer;

  &:hover {

    .article-card__image {
      filter: brightness(1.1) saturate(140%);
    }

    .article-card__wrapper {
      .bg-color-brand-red;
    }

    .article-card__category {
      .font-color-brand-red;
    }

    .article-card__content {
      .font-color-white;
    }

  }

  // Status => Placeholder
  &.article-card--placeholder {
    opacity: 0.8;

    .article-card__image {
      background-image: url('../../../../assets/images/landing-logo.png') !important;
      background-repeat: no-repeat;
      background-size: 80% !important;
    }

    .article-card__author, .article-card__title {
      opacity: 0.4;
    }

  }

  // Category
  .article-card__category {
    .font-size-l;
    .font-weight-bold;
    transition: all 200ms ease;
    text-transform: uppercase;
  }

  // BG color Wrapper
  .article-card__wrapper {
    .bg-color-white-darken-1;
    transition: all 200ms ease;
  }

  // Image
  .article-card__image {
    .image-ratio;
    .image-ratio-4-3;
    .bg-color-white-darken-2;
    transition: all 200ms ease;
    background-position: center center;
  }

  // Content
  .article-card__content {
    .font-color-black-lighten-6;
    .padding-horizontal-half;
    .padding-vertical-quarter;

    > div {
      transition: all 200ms ease;
    }

  }

  // Author
  .article-card__author {
    .font-size-s;
    .font-weight-bold;
    font-style: italic;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // Title
  .article-card__title {

    @font-size: 1.8rem;
    @line-height: 2rem;

    .font-weight-bold;
    .margin-top-quarter;
    .margin-bottom-half;
    font-size: @font-size;
    line-height: @line-height;
    min-height: ~"calc(@{line-height} * 3 + 1px)";
    max-height: ~"calc(@{line-height} * 3 + 1px)";
    overflow: hidden;
  }

  // Footer
  .article-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // Source
  .article-card__source {
    .font-size-s--1;
  }

  // Read later
  .article-card__read-later {
    .font-size-s--1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      .font-size-l;
      .padding-left-quarter;
      line-height: 0;
    }

  }

}

// Variation =>
.article-card.article-card--transparent {

  .padding-vertical-quarter;
  .padding-horizontal-half;
  border: 1px solid rgba(255, 255, 255, 0.2);

  &:hover {
    .bg-color-brand-red;
  }

  .article-card__category {
    .font-color-white;
  }

  // BG Color wrapper
  .article-card__wrapper {
    background-color: transparent;
  }

  // Content
  .article-card__content {
    .font-color-white;
    .padding-horizontal-none;
    .padding-top-full;
    .padding-bottom-none;

    > div {
      transition: all 200ms ease;
    }

  }
}