@import "base/fonts";
@import "base/helpers";

.article-content {

  * {
    .font-size-l;
    max-width: 100%;
  }

  img {
    width: 100%;
  }

  &.article-content--clean {
    * {
      display: none;
      .font-size-s;
    }
    p {
      display: block;
      margin: 0;
    }
  }

}