/* Landing Banner Home */
@import "variables";
@import "base/helpers";
@import "base/fonts";
@import "base/backgrounds";
@import "base/flex";

.landing-banner__wrapper {
  .padding-vertical-full;
  width: 100%;
  height: 100%;
  min-height: 400px;

  //Gradient backgrounds transition
  background: linear-gradient(270deg, #b52f72, #430ed2);
  background-size: 200% 300%;

  animation: gradientAnim 10s ease infinite;

  @media (max-width: @breakpoint-s) {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @keyframes gradientAnim {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  .landing-banner {
    .fw;
    .fw--a-center;
    .fw--j-center;
    width: 100%;
    height: 100%;

    @media (max-width: @breakpoint-s) {
      display: block;
    }

    // Image
    .landing-banner__image-wrapper {
      .padding-vertical-full;
      width: 40%;
      flex-shrink: 0;
      flex-grow: 0;

      @media (max-width: @breakpoint-s) {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
      }

      @media (max-width: @breakpoint-xs) {
        .padding-vertical-half;
        width: 80%;
      }

      .landing-banner__image {
        .image-ratio;
        .image-ratio-1-1;
        background-image: url('../../../assets/images/banner-draw.svg');
        background-repeat: no-repeat;
        background-position: center left;
        background-size: contain;

        @media (max-width: @breakpoint-s) {
          background-position: center center;
        }

      }
    }

    // Text
    .landing-banner__text {
      .fw;
      .fw--j-center;
      .fw--a-center;
      .font-color-white;
      .padding-left-full;
      flex-grow: 0;
      flex-shrink: 0;
      width: 60%;
      flex-direction: column;

      @media (max-width: @breakpoint-s) {
        display: block;
        width: 100%;
        padding-left: 0;
      }

      .landing-banner__button {
        .fw;
        .fw--j-center;
        .padding-top-full;

        @media (max-width: @breakpoint-s) {
          .padding-top-half;
        }

        .button {
          @media (max-width: @breakpoint-s) {
            .font-size-xxl;
            .padding-bottom-quarter;
          }

          @media (max-width: @breakpoint-xs) {
            .font-size-l;
          }
        }

      }

      .landing-banner__title {
        .font-weight-bold;
        margin-bottom: 0;
        text-align: center;

        @media (max-width: @breakpoint-s) {
          .margin-top-half;
        }
      }

      .landing-banner__subtitle {
        .font-weight-light;
        @media (max-width: @breakpoint-s) {
          text-align: center;
        }
      }

    }

    // Logo
    .landing-banner__logo {
      display: none;
      text-align: center;

      @media (max-width: @breakpoint-s) {
        display: block;
        margin: 0 auto;
      }

      img {
        width: 300px;

        @media (max-width: @breakpoint-xs) {
          width: 200px;
        }

      }
    }

  }

}
