<!-- Banner home wrapper -->
<div class="landing-banner__wrapper">

  <div class="container">

    <div class="landing-banner">

      <!-- Logo -->
      <div class="landing-banner__logo">
        <img src="../../../assets/images/logo-dictioz-news--white.png">
      </div>
      <!-- end Logo -->

      <!-- Image -->
      <div class="landing-banner__image-wrapper">

        <div class="landing-banner__image"></div>

      </div>
      <!-- end Image -->

      <!-- Text -->
      <div class="landing-banner__text">

        <h1 class="landing-banner__title">
          Miles de noticias. Todos los medios
        </h1>

        <h3 class="landing-banner__subtitle">
          Tus periodistas favoritos en un solo lugar
        </h3>

        <div class="landing-banner__button">
          <button class="button button--uppercase button--red">
            ver mas
          </button>
        </div>

      </div>
      <!-- end Text -->

    </div>

  </div>

</div>
<!-- end Banner home wrapper -->
