<!-- Banner home wrapper -->
<div class="landing-banner__wrapper">

  <div class="container">

  <div class="landing-banner">

    <div class="landing-banner__image-wrapper">

      <div class="landing-banner__image"></div>

    </div>

    <div class="landing-banner__text">

      <h1 class="landing-banner__title">
        Miles de noticias. Todos los medios
      </h1>

      <h3 class="landing-banner__subtitle">
        Tus periodistas favoritos en eun solo lugar
      </h3>

      <div class="landing-banner__button">
        <button class="button button--uppercase button--red">
          ver mas
        </button>
      </div>

    </div>

  </div>

  </div>
  <!-- end Banner home wrapper -->
