<div class="article-slider">

  <!-- Top -->
  <div class="article-slider__top">

    <!-- Title -->
    <div class="container">

      <div class="wrapper">

        <h2 class="main-title main-title--gray">
          {{category.displayName}}
        </h2>

        <a href="" class="button button--outline button--red button--uppercase">
          + Sobre {{category.displayName}}
        </a>

      </div>

    </div>
    <!-- end Title -->

    <!-- Author slider -->
    <div class="container">
      <app-author-slider [authors]="authors"></app-author-slider>
    </div>
    <!-- end Author slider -->

  </div>
  <!-- end Top -->

  <!-- Article list -->
  <div class="container">

    <!-- Filters -->
    <div class="article-slider__filters padding-top-full">

      <div class="article-slider__date">
        <div>Filtro por fecha</div>
        <i class="icon ion-md-calendar"></i>
      </div>

      <!-- Search -->
      <div class="article-slider__search">

        <input (change)="searchForArticles()"
               [(ngModel)]="articleSearchCriteria"
               type="text"
               placeholder="Buscar en esta categoria">

        <i *ngIf="!articleSearchCriteria"
           class="icon ion-md-search"></i>

        <i *ngIf="articleSearchCriteria"
           (click)="cleanSearch()"
           class="icon ion-md-close"></i>

      </div>
      <!-- end Search -->

    </div>
    <!-- end Filters -->

    <!-- Articles -->
    <div>

      <div class="padding-top-half" *ngIf="mainArticle">
        <app-article-card-horizontal
            [article]="mainArticle"
            [isGiant]="true"
            [loadDetails]="true"></app-article-card-horizontal>
      </div>

      <div class="article-slider__cards">

        <div class="article-container" *ngFor="let article of articles">
          <app-article-card [article]="article"></app-article-card>
        </div>

      </div>

    </div>
    <!-- end Articles -->

  </div>
  <!-- end Article list -->

</div>
