<div class="article-slider">

    <!-- Top -->
    <div class="article-slider__top">

        <!-- Title -->
        <div class="container">

            <div class="wrapper">

                <h2 class="main-title main-title--gray">
                    {{category.name}}
                </h2>

                <a href="" class="button button--outline button--red button--uppercase">
                    + Sobre {{category.name}}
                </a>

            </div>

        </div>
        <!-- end Title -->

        <!-- Author slider -->
        <div class="container">
            <app-author-slider [authors]="authors"></app-author-slider>
        </div>
        <!-- end Author slider -->

    </div>
    <!-- end Top -->

    <!-- Article list -->
    <div class="container">

        <div class="article-slider__cards">

            <div class="article-container" *ngFor="let article of articles">
                <app-article-card [article]="article"></app-article-card>
                <app-article-card-horizontal [article]="article"></app-article-card-horizontal>
            </div>

        </div>

    </div>
    <!-- end Article list -->

</div>
