<div class="article-view">

  <div class="bg-color-white-darken-16">

    <div class="container fw fw--a-center">
    <!-- Header -->
    <app-author-header class=""></app-author-header>

    <!--<div class="margin-left-full article-view__date">Publicado el {{article.date}} 19 de Agosto de 2018 20:30 PM</div>

    <div class="fw fw&#45;&#45;a-center">
      <i class="icon ios-md-logo-facebook padding-horizontal-quarter"></i>
      <i class="icon ios-md-logo-twitter padding-horizontal-quarter"></i>
      <i class="icon ios-md&#45;&#45;logo-whatsapp padding-horizontal-quarter"></i>
    </div>-->

    </div>

  </div>

  <!-- end Header -->

  <!-- Title -->
  <div class="container">
    <h1 class="article-view__title" *ngIf="!loading">
      {{article.title}}
    </h1>
  </div>
  <!-- end Title -->

  <!-- Image card -->
  <div class="container">
    <app-article-card-full [article]="article"></app-article-card-full>
  </div>
  <!-- end Image card -->

  <!-- Body -->
  <div class="container fw padding-top-full">
    <div class="article-view__left-container">

      <div *ngIf="!loading" class="article-view__body">
        <app-article-content [articleContent]="article.content"></app-article-content>
      </div>
    </div>

    <div class="article-view__right-container">

      <h2 class="main-title main-title--gray padding-vertical-half">RELACIONADAS</h2>

      <!-- <app-article-card-horizontal [article]="article[1]" class="width-full margin-vertical-quarter"></app-article-card-horizontal>
       <app-article-card-horizontal [article]="article[1]" class="width-full margin-vertical-quarter"></app-article-card-horizontal>
       <app-article-card-horizontal [article]="article[1]" class="width-full margin-vertical-quarter"></app-article-card-horizontal>
       <app-article-card-horizontal [article]="article[1]" class="width-full margin-vertical-quarter"></app-article-card-horizontal>
       <app-article-card-horizontal [article]="article[1]" class="width-full margin-vertical-quarter"></app-article-card-horizontal>-->
    </div>

  </div>
  <!-- end Body -->

</div>
