@import 'base/backgrounds';
@import 'base/helpers';
@import 'base/fonts';

.article-view {

  // Top author info
  .article-view__top {
    .bg-color-white-darken-1;
    width: 100%;

    // Container flex to block on s breakpoint
    .container {
      @media (max-width: @breakpoint-s) {
        width: 100%;
      }

    }

    // Wrapper
    .article-view__top-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: @breakpoint-s) {
        display: block;
        text-align: center;
      }

      // Author info and date
      .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: @breakpoint-xs) {
          display: block;
        }

      }

      // Social wrapper
      .article-view__social {
        .padding-half;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: @breakpoint-xs) {
          .padding-quarter;
        }
      }

    }

    // Article date
    .article-view__date {
      .font-size-s--2;
      .font-weight-light;
      .font-color-white-darken-10;
      .margin-left-half;
      @media (max-width: @breakpoint-s) {
        .padding-vertical-quarter;
        .margin-right-half;
        margin-left: 0;
      }
    }

  }

  // Title
  .article-view__title {
    .font-color-brand-red;
    .font-weight-bold;
  }

  // Main container
  .article-view__main-container {
    .padding-top-full;
    display: flex;
    @media (max-width: @breakpoint-s) {
      display: block;
    }
  }

  // Left container
  .article-view__left-container {
    width: 70%;
    flex-shrink: 0;
    flex-grow: 0;
    .padding-right-full;

    @media (max-width: @breakpoint-s) {
      width: 100%;
    }
  }

  // Right container
  .article-view__right-container {
    .bg-color-white-darken-1;
    .padding-half;
    width: 30%;
    flex-shrink: 0;
    flex-grow: 0;

    @media (max-width: @breakpoint-s) {
      width: 100%;
    }

    // More articles list
    .more-articles {
      position: sticky;
      top: @navbar-height-medium-up;

      @media (max-width: @breakpoint-s) {
        top: @navbar-height-small-down;
      }
    }

    // Each article container
    .article-container {
      .margin-bottom-half;
    }

  }

  // Content
  .article-view__body {

    p {
      transform: scale(4);
    }

    * {
      .font-size-l !important;
      max-width: 100%;
      min-width: 100%;
    }

  }

}
