<div class="article-view">

  <div class="bg-color-white-darken-1 margin-bottom-full">

    <div class="container fw fw--a-center fw--j-space-between">

      <!-- Header -->
      <app-author-header [author]="author"></app-author-header>
      <!-- end Header -->

      <!-- Date -->
      <div style="flex-grow: 1" class="margin-left-full article-view__date fw ">
        <div class=" fw--a-center fw--j-start">Publicado el 19 de Agosto de 2018 20:30 PM</div>
      </div>
      <!-- end Date -->

      <!-- Social Media -->
      <app-social-media></app-social-media>
      <!-- end Social Media -->

    </div>

  </div>

  <!-- end Header -->

  <!-- Title -->
  <div class="container">
    <h1 class="article-view__title" *ngIf="!loading">
      {{article.title}}
    </h1>
  </div>
  <!-- end Title -->

  <!-- Image card -->
  <div class="container">
    <app-article-card-full [article]="article" [category]="category"></app-article-card-full>
  </div>
  <!-- end Image card -->

  <!-- Body -->
  <div class="container">
    <div class="article-view__main-container">

      <div class="article-view__left-container">

        <div *ngIf="!loading" class="article-view__body">
          <app-article-content [articleContent]="article.content"></app-article-content>
        </div>
      </div>

      <!-- More news from this author -->
      <div class="article-view__right-container">

        <div class="more-articles">

          <h2 class="main-title main-title--gray padding-horizontal-half padding-vertical-half">
            Mas del autor
          </h2>

          <div class="margin-bottom-half">
            <app-author-header [author]="author"></app-author-header>
          </div>

          <div class="article-container"
               *ngFor="let article of relatedArticles">
            <app-article-card-horizontal
                [article]="article"
                class="width-full margin-vertical-quarter"></app-article-card-horizontal>
          </div>

        </div>

      </div>
      <!-- end More news from this author -->

    </div>
    <!-- end Body -->

    <!-- Related Articles -->
    <div class="bg-color-white-darken-1 margin-vertical-full">

      <div class="container">

        <h2 class="main-title main-title--gray padding-horizontal-half padding-vertical-half">
          ARTICULOS RELACIONADOS
        </h2>

        <div class="row">
          <div class="article-container" *ngFor="let article of relatedArticles">
            <app-article-card [article]="article"></app-article-card>
          </div>
        </div>

      </div>
    </div>
    <!-- end Related Articles -->

  </div>

</div>
