@import "base/helpers";
@import "base/backgrounds";
@import "base/flex";
@import "variables";
@import "base/fonts";
@import "base/buttons";
@import "base/forms";

.side-menu__wrapper {
  @side-menu-width: 300px;

  .bg-color-white-darken-1;
  .padding-horizontal-half;
  .padding-vertical-half;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: @side-menu-width;
  z-index: @navbar-z-index - 1;
  transform: translateX(100%);
  opacity: 0;
  transition: all 200ms ease;

  &.side-menu-wrapper--is-open {
    transform: translateX(0);
    opacity: 1;
  }

  //Header
  .side-menu-header {
    .fw;
    .fw--a-center;
    .fw--j-space-between;
  }

  //Search Bar
  .side-menu-header__search {
    position: relative;
    .fw;
    .fw--a-center;
    .padding-vertical-half;

    input {
      margin-bottom: 0;
    }
    .search-icon {
      position: absolute;
      height: 100%;
      right: 0;
      top: 0;
      .font-size-xl;
      .padding-vertical-eighth;
      .padding-horizontal-quarter;
      display: flex;
      align-items: center;
    }

  }

  //Search

  // Title
  .side-menu-content {
    .width-full;
  }
}
