<!-- Wrapper -->
<div class="side-menu__wrapper">

  <!-- Image -->
  <div class="side-menu-header__wrapper">

    <div class="side-menu-header">

      <div class="main-title main-title--gray">
        ARTICULOS
      </div>
      <i class="icon ion-ios-close-circle-outline font-size-xxl"></i>

    </div>

    <div class="side-menu-header__search">
      <input class="rf-input rf-input--white">
      <i class="icon ion-ios-search search-icon"></i>
    </div>

  </div>
  <!-- end Image -->

  <!-- Content -->
  <div class="side-menu__content">
    <!--<app-article-card-horizontal></app-article-card-horizontal>-->
  </div>

  <div class="button-wrapper fw fw--j-center width-full padding-vertical-full">
    <button class="button button--outline button--red button--uppercase">
      VER TODOS
    </button>
  </div>

</div>
