/*Features modal*/
@import "base/helpers";
@import "base/backgrounds";
@import "base/flex";
@import "variables";
@import "base/fonts";

.dictioz-features__wrapper {
  .width-full;
  .bg-color-white;
  .dictioz-features {

  }

  //Header
  .dictioz-features__header {
    .bg-color-brand-red;
    .padding-vertical-quarter;
  }

  //Body
  .dictioz-features__body {
    // Card
    .dictioz-features__cards {
      .bg-color-white;
      .padding-vertical-full;
      .fw;
      .fw--a-center;

      // Each feature card
      .dictioz-features-card {
        .padding-horizontal-full;
        .border--right;
        width: 100%/6;

        &:last-of-type {
          border-right: none;
        }

        // Image
        .dictioz-feature-card__image {

        }

        // Text
        .dictioz-feature-card__text {
          .font-color-white-darken-10;
          .font-size-s--2;
          .text-center;
          .fw;
          .fw--j-start;
        }
      }
    }

    // Button
    .dictioz-features-button__wrapper {
      .fw;
      .fw--j-center;
      .fw--a-center;
      .padding-bottom-full;

      button {
        position: relative;

        i {
          position: absolute;
          left: 0
        }
      }
    }


  }

}
