<div class="dictioz-features__wrapper">

  <div class="dictioz-features__header">

    <div class="container fw fw--a-center fw--j-space-between">
      <div class="font-color-white font-size-l">Registrate y accede a todos los beneficios que te brinda DICTIOZ News!
      </div>

      <i class="icon ion-md-close-circle-outline font-color-white font-size-xxl"></i>
    </div>

  </div>

  <div class="dictioz-features__body">

    <div class="container">

      <!--Cards container-->
      <div class="dictioz-features__cards fw">
        <!--Each card-->
        <div class="dictioz-features-card">

          <div class="fw fw--a-center fw--j-center margin-bottom-full">
            <div class="dictioz-feature-card__image">
            </div>
          </div>

          <div class="dictioz-feature-card__text">
            Organizamos tus notas por categorias favoritas
          </div>
        </div>

        <div class="dictioz-features-card">
          <div class="fw fw--a-center fw--j-center margin-bottom-full">
            <div class="dictioz-feature-card__image feature-card--chat"></div>
          </div>

          <div class="dictioz-feature-card__text">
            Guarda tus notas y leelas mas tarde
          </div>
        </div>

        <div class="dictioz-features-card">
          <div class="fw fw--a-center fw--j-center margin-bottom-full">
            <div class="dictioz-feature-card__image feature-card--heart"></div>
          </div>
          <div class="dictioz-feature-card__text">
            Segui a tus autores favoritos
          </div>
        </div>

        <div class="dictioz-features-card">
          <div class="fw fw--a-center fw--j-center margin-bottom-full">
            <div class="dictioz-feature-card__image feature-card--alarm"></div>
          </div>
          <div class="dictioz-feature-card__text">
            Se el primero en recibir las novedades de tus autores y temas preferidos
          </div>
        </div>

        <div class="dictioz-features-card">
          <div class="fw fw--a-center fw--j-center margin-bottom-full">
            <div class="dictioz-feature-card__image feature-card--user"></div>
          </div>
          <div class="dictioz-feature-card__text">
            Personaliza tu perfil y filtra tu contenido como quieras
          </div>
        </div>

        <div class="dictioz-features-card">
          <div class="fw fw--a-center fw--j-center margin-bottom-full">
            <div class="dictioz-feature-card__image feature-card--share"></div>
          </div>
          <div class="dictioz-feature-card__text">
            Comparti contenido en todo momento
          </div>
        </div>

      </div>

      <!--Button signup-->
      <div class="dictioz-features-button__wrapper">

        <button class="button button--red button--uppercase margin-right-half">
          REGISTRARME!
        </button>

        <div class="font-color-white-darken-10 font-size-l">
          Ya tengo cuenta. <a class="font-color-brand-red">Ingresar</a>
        </div>

      </div>

    </div>

  </div>

</div>
