<div class="checkout">
  <div class="checkout-sidebar">
    <div class="fw fw--j-center width-full">
    <div class="checkout-premium-box">PREMIUM</div>
    </div>

    <div class="step step-1">

      <div class="checkout-amount">

        <div class="amount-row">
          <span class="amount-value">2</span>
          <span class="amount-currency">USD</span>
        </div>

        <div class="amount-row">
          <span class="amount-period">PAGO MENSUAL</span>
        </div>

        <div class="amount-row">
          <span class="amount-promo">Primer mes gratis</span>
        </div>

      </div>

      <div class="checkout-premium-items">

        <div class="checkout-premium-item">
          <img class="dictioz-feature-card__image" src="../../../assets/images/money--white.svg" alt="money">
          <div>Colabora con autores de todo el mundo</div>
        </div>

        <div class="checkout-premium-item">
          <img class="dictioz-feature-card__image" src="../../../assets/images/star--white.svg" alt="money">
          <div>Organizamos tus notas por categorías favoritas</div>
        </div>

        <div class="checkout-premium-item">
          <img class="dictioz-feature-card__image" src="../../../assets/images/label--white.svg" alt="money">
          <div>Guarda tus notas y leelas cuando quieras</div>
        </div>

        <div class="checkout-premium-item">
          <img class="dictioz-feature-card__image" src="../../../assets/images/heart--white.svg" alt="money">
          <div>Seguí a tus autores favoritos</div>
        </div>

        <div class="checkout-premium-item">
          <img class="dictioz-feature-card__image" src="../../../assets/images/user--white.svg" alt="money">
          <div>Personalizá tu perﬁl y ﬁltra tu contenido como quieras</div>
        </div>

      </div>

    </div>

    <div class="step step-2 hidden">
      <div class="bg"></div>
      <h2>Te damos la bienvenida<br><b>Dictioz Premium</b></h2>
    </div>
  </div>
  <div class="checkout-main">
    <div class="process" style="display:none"><span>Procesando, por favor espere...</span></div>
    <div class="step step-1">
      <form id="pay" class="form-horizontal group-border-dashed" [formGroup]="checkoutForm"
            (ngSubmit)="submitForm(checkoutForm.value)" novalidate="">
        <h2>Pago seguro</h2>
        <p>Completa tus datos de pago para comenzar a disfrutar de Dictioz Premium</p>
        <div class="alert alert-warning" style="display: none"><span class="alert-icon alert-icon-warning"></span>
          <p><b>UPS!</b> En este momento no podemos procesar tu pago.<br>Reintenta nuevamente en unos minutos.</p></div>
        <div class="alert alert-error" style="display: none"><span class="alert-icon alert-icon-error"></span>
          <p>No se pudo procesar tu pago.<br>Asegurate de colocar correctamente los datos.</p></div>
        <div class="form-group hidden">
          <label class="control-label">Medio de pago</label>
          <select formControlName="payment_method_id" id="paymentMethodId" name="paymentMethodId" class="form-control">
            <option value="">Seleccione...</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Número de tarjeta <span class="card-icon card-icon1"></span></label>
          <input type="text" formControlName="card_number" id="cardNumber" data-checkout="cardNumber"
                 placeholder="Número" class="form-control" value="{{payment.card_number}}">
        </div>
        <div class="form-group">
          <label class="control-label">Código de seguridad <span class="card-icon card-icon2"></span></label>
          <input type="text" formControlName="card_security_code" id="securityCode"
                 value="{{payment.card_security_code}}" data-checkout="securityCode" placeholder="Código"
                 class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Fecha de vencimiento</label>
          <div class="col">
            <select id="cardExpirationMonth" formControlName="card_expiration_month" data-checkout="cardExpirationMonth"
                    class="form-control">
              <option value="">Mes</option>
              <option *ngFor="let month of months" [value]="month">{{month}}</option>
            </select>
          </div>
          <div class="col">
            <select id="cardExpirationYear" formControlName="card_expiration_year" data-checkout="cardExpirationYear"
                    class="form-control">
              <option value="">Año</option>
              <option *ngFor="let key of objectKeys(years)" [value]="key">{{years[key]}}</option>
            </select>
          </div>
        </div>
        <div class="hidden">
          <div class="form-group hidden issuer-field">
            <label class="control-label">Banco</label>
            <select formControlName="issuer_id" id="issuer" data-checkout="cardIssuerId" class="form-control">
              <option value="1">Seleccione...</option>
            </select>
          </div>
          <div class="form-group hidden installments-field">
            <label class="control-label">Cuotas</label>
            <select formControlName="installments" id="installments" data-checkout="cardInstallmentId"
                    class="form-control">
              <option value="1">Seleccione...</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Titular</label>
          <input type="text" formControlName="payer_name" id="cardholderName" data-checkout="cardholderName"
                 value="{{payment.payer_name}}" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group">
          <label class="control-label">Documento</label>
          <div class="col">
            <select formControlName="payer_identification_type" id="docType" data-checkout="docType"
                    class="form-control" value="{{payment.payer_identification_number}}">
            </select>
          </div>
          <div class="col">
            <input formControlName="payer_identification_number" type="text" id="docNumber" data-checkout="docNumber"
                   placeholder="Documento" class="form-control">
          </div>
        </div>
        <div class="form-group form-footer">
          <div class="mp-logo"></div>
          <button type="submit" class="btn btn-submit">
            TERMINAR
          </button>
        </div>
        <input type="hidden" formControlName="payer_email" id="email" value="{{payment.payer_email}}">
        <input type="hidden" formControlName="amount" id="amount" value="{{payment.amount}}">
        <input type="hidden" value="1" data-checkout="cardIssuerId">
        <input type="hidden" value="1" data-checkout="cardInstallmentId">
      </form>
    </div>
    <div class="step step-2 hidden">
      <div class="success-icon"></div>
      <p class="success-txt">Ya estás suscripto al plan <b>Premium</b></p>
      <h3>¡Que disfrutes tu experiencia!</h3>
      <p>Gracias a los usuarios como tu podemos colaborar con autores de todo el mundo</p>
      <div>
        <a [routerLink]="['/']" class="btn btn-start">COMENZAR</a>
      </div>
      <div>
        <a [routerLink]="['/profile']" class="link">Ir a mi cuenta</a>
      </div>
    </div>
  </div>
</div>
