<!-- Header -->
<div [ngClass]="{'author-header--full': isFull}"
     *ngIf="author"
     class="author-header__wrapper">

  <div class="author-header">

    <!-- Author profile -->
    <div class="author-header__profile">

      <!-- Avatar -->
      <div class="author-header__avatar" [style.background-image]="'url(' + author.avatar + ')'"></div>
      <!-- end Avatar -->

      <div class=" author-header__info">

        <div class="fw fw--a-center">
          <!-- Name -->
          <div class="author-header__name">
            {{author.name}}

            <!-- Icon expand description -->
            <i (click)="toggleInfo()"
               *ngIf="!isDescriptionShown"
               class="author-header__icon-add icon ion-md-add-circle-outline"></i>
            <i (click)="toggleInfo()"
               *ngIf="isDescriptionShown"
               class="author-header__icon-add icon ion-md-remove-circle-outline font-size-xxl font-color-white-darken-10 padding-left-quarter clickable"></i>
          </div>
        </div>

        <!-- Follow button -->
        <div>
          <div class="author-header__button button button--red button--uppercase button--xs">seguir</div>
        </div>
        <!-- end Follow button -->

      </div>

    </div>
    <!-- end Author profile -->

    <!-- Author articles -->
    <div class="author-header__articles-info">

      <div class="width-full fw">

        <!-- Articles number -->
        <div class="author-header__articles-item">
          <i class="icon ion-md-copy padding-right-quarter"></i>
          <div>1234</div>
        </div>
        <!-- End Articles number -->

        <!-- Followers -->
        <div class="author-header__articles-item">
          <i class="icon ion-md-heart-empty padding-right-quarter"></i>
          <div>54</div>
        </div>
        <!-- end Followers -->

      </div>

      <!-- Categories: 2 max -->
      <div class="author-header__articles-item">

        <div class="author-header__articles-item">
          <div>POLITICA</div>
          <div class=" author-header__articles-number">3</div>
        </div>

        <div class="author-header__articles-item">
          <div>POLITICA</div>
          <div class="padding-left-quarter author-header__articles-number">3</div>
        </div>

      </div>
      <!-- end Categories -->

    </div>
    <!-- end Author articles -->

  </div>

  <!-- Author Description -->
  <div class="author-header__description" *ngIf="author && author.description">
    {{author.description}}
  </div>
  <!-- end Author Description -->

</div>

<!-- end Header -->


