/* Author header info */
@import "base/helpers";
@import "base/backgrounds";
@import "base/flex";
@import "variables";
@import "base/fonts";

.author-header__wrapper {

  // Author Header default
  .author-header {
    .bg-color-white-darken-2;
    .padding-vertical-quarter;
    .padding-horizontal-half;
    display: flex;

    .author-header__profile {
      display: flex;
      align-items: center;
    }

    // Avatar
    .author-header__avatar {
      .image-ratio;
      .image-ratio-1-1;
      .bg-color-white-darken-4;
      .border--full;
      background-position: center center;
      width: 60px;
      flex-shrink: 0;
    }

    .author-header__info {
      .padding-left-half;
      .fw;
      .fw--j-space-around;
      flex-direction: column;

      // Name
      .author-header__name {
        .font-weight-bold;
        .font-size-s--2;

        // Icon expand description
        i {
          display: none;
        }

      }

      // Button
      .author-header__button {
        .font-weight-bold;
        .margin-top-quarter;
      }
    }

    // Articles info
    .author-header__articles-info {
      display: none;
    }

  }

  // Description
  .author-header__description {
    display: none;
  }

  // Variation => Author header full version
  &.author-header--full {
    .width-full;
    padding-left: 0;
    padding-right: 0;

    .author-header {
      .fw;
      .fw--a-center;
      .fw--j-space-between;
      .width-full;
      .padding-vertical-half;
      .padding-left-none;
      padding-right: 0;
      background-color: transparent;

      @media (max-width: @breakpoint-s) {
        display: block;
      }

      .author-header__profile {
        width: 50%;
        .border--right;
        flex-shrink: 0;

        @media (max-width: @breakpoint-s) {
          .margin-bottom-half;
          width: 100%;
          border-right: none;
        }

      }

      // Avatar
      .author-header__avatar {
        width: 80px;
        border: none;
      }

      .author-header__info {
        // Name
        .author-header__name {
          .font-color-white;
          .font-weight-normal;
          .font-size-l;

          // Icon expand description
          i {
            display: inline-block;
            .font-size-xxl ;
            .font-color-white-darken-10;
            .padding-left-quarter;
            .clickable;
          }
        }

        // Button
        .author-header__button {
          .font-size-s--2;
        }
      }

      // Articles info
      .author-header__articles-info {
        .fw;
        .fw--a-center;
        .fw--j-space-between;
        .padding-left-half;
        .font-color-white;
        .font-size-s--2;
        border-color: #717171;
        flex-shrink: 0;
        width: 50%;

        @media (max-width: @breakpoint-s) {
          width: 100%;
          padding: 0;
          border: none;
        }

        i {
          .font-size-l;
        }

        // Numbers
        .author-header__articles-number {
          .fw;
          .fw--a-center;
          .fw--j-center;
          .bg-color-brand-red;
          .padding-eighth;
          .margin-left-quarter;
          .font-color-white;
          .font-weight-bold;
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        // Each item inside header
        .author-header__articles-item {
          .fw;
          .fw--a-center;
          .margin-right-half;

          &:last-of-type {
            margin-right: 0;
          }

          // Variation => Wrapped item
          &.author-header__articles-item--wrap {
            flex-wrap: wrap;
          }

        }
      }

    }

    // Description
    .author-header__description {
      .font-size-s--1;
      .font-color-white;
      width: 50%;
      flex-shink: 0;
      display: block;
      .padding-bottom-half;
    }

  }

}
