

  <!-- Article card -->
  <div class="article-card-horizontal"
       [ngClass]="{'article-card--placeholder': !article._id}">

    <!-- Image -->
    <div class="article-card-horizontal__image" [style.background-image]="'url(' + article.image + ')'"></div>
    <!-- end Image -->

    <!-- Content -->
    <div class="article-card-horizontal__content">

      <!-- Author -->
      <div class="article-card-horizontal__author">
        Por {{article.authorName}}
      </div>
      <!-- end Author -->

      <!-- Title -->
      <div class="article-card-horizontal__title">
        {{article.title}}
      </div>
      <!-- end Title -->

    </div>
    <!-- end Content -->

  </div>
  <!-- end Article card -->

