<!-- Article card -->
<a class="article-card-horizontal"
   href="/article/{{article._id}}"
   [ngClass]="{'article-card-horizontal--placeholder': !article._id, 'article-card-horizontal--giant': isGiant}">

  <!-- Card Wrapper -->
  <div class="article-card-horizontal__wrapper">

    <!-- Image -->
    <div class="article-card-horizontal__image" [style.background-image]="'url(' + article.image + ')'"></div>
    <!-- end Image -->

    <!-- Content -->
    <div class="article-card-horizontal__content">

      <!-- Author -->
      <div class="article-card-horizontal__author">
        Por {{article.authorName}}
      </div>
      <!-- end Author -->

      <div>
        <!-- Title -->
        <div class="article-card-horizontal__title">
          {{article.title}}
        </div>
        <!-- end Title -->

        <!-- Summary -->
        <div class="article-card-horizontal__summary">
          <app-article-content [isCleanText]="true" [articleContent]="article.content"></app-article-content>
        </div>
        <!-- end Summary -->

      </div>

      <!-- Footer -->
      <div class="article-card-horizontal__footer">

        <!-- Source -->
        <div class="article-card-horizontal__source">
          Fuente: {{article.newspaper}}
        </div>
        <!-- end Source -->

        <!-- Read Later -->
        <div class="article-card-horizontal__read-later"
             title="Leer mas tarde"
             [ngClass]="{'active': isOnReadLaterList}"
             (click)="saveToReadLater()">
          <i class="icon ion-md-bookmark"></i>
        </div>
        <!-- Read Later -->

      </div>
      <!-- end Footer -->

    </div>
    <!-- end Content -->

  </div>
  <!-- end Card Wrapper -->

</a>
<!-- end Article card -->

